* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#trueOrFalse {
    font-size: 5vmax;
    color: rgb(221, 88, 221);
}

.var {
    font-size: 5vmax;
    color: rgb(43, 43, 214);
}

#ch1 h1 {
    text-align: center;
}

#ch1p {
    visibility: hidden;
}